sudo: required
dist: trusty
language: ruby

before_install:
- gem install asciidoctor -v 1.5.2
- gem install tilt
- sudo pip install git+https://github.com/gitenberg-dev/gitberg
- sudo pip install git+https://github.com/gitenberg-dev/pg-epubmaker
script:
- VERSION=`ruby -e "require 'yaml'; meta = YAML.load_file('metadata.yaml'); puts meta['_version'];"`
- git clone https://github.com/gitenberg-dev/asciidoctor-htmlbook.git
- sudo pip install -r asciidoctor-htmlbook/gitberg-machine/requirements.txt

- /usr/bin/python -c "from gitenberg import travis; travis.build_epub()"
- ebook-convert book.epub book.mobi
- xvfb-run ebook-convert book.epub book.pdf
notifications:
  webhooks:
    urls:
      - https://unglue.it/api/travisci/webhook
    on_success: always
    on_failure: never
    on_start: never
deploy:
  skip_cleanup: true
  provider: releases
  api_key:
    secure: CQS5PamZ5B+uq3PHfpvoMjulMg5rybXmcfyUjtPAoe4zjPTk9Kbyt0N1/5te8wg8usrwE1FwKanGTkMagHa6x1q2D0FvGOXAzURtcw9vp0xjgHZqe0XRJMBSgDWJetjMYa5AqZGxBugDLF8uwtrEcymS7Xg+iZdyuTkdIltd1U3xTSvCKGPOrzg9qUy0YkcwYxNzzXsaYh2cyAA+XBCjY3bY6U1LI0LHfyuI0Yl/Wd0Ita0hUtGKQV2MnFyhfVNnmunPM+CyoLEHJTAO8uSp/rSRbiH+COTK0d7lRY+MeDTH2t8KIZIKX6xbun+BR+AEzlbmBc+5Y+kIyS+FvAd4wpDqsRgquNx6XWmYJkhi2Rzgxv91xAk5LwZ7gjlXeIqXH8roazlm5EAGRDh/zhXiNdcPep0x9AN0yLtvoqvW6xM0EAGY+xl72QkrjkgjTPOVomCRvOP8s7vhnu2Ypt7WDS922ss/xMu4Vqil4V9MUqMS15lzrRrrH6//kPnVokVfBK1kSg0X5COyoL+l8oAnhxTbNEcloNNLbB30z8Yaza1LTjrmWOtRqOIlDXoCY+ar8+6x7iMNygQ5Pyr+3OUC1wu2+8ZUKWgYc0xU1227fvGQxH5dnMfPcM0w0HUKdJLuoy9+xzAIJz5qPfhBFbmOP7DWuxQQE+QedvLV55P3Xtg=
  file:
    - book.epub
    - book.mobi
    - book.pdf
  on:
    repo: GITenberg/After-the-Storm_4590
    tags: true
addons:
  apt:
    packages:
    - xsltproc
    - xvfb
    - calibre
    - python-pip
    - git
    - python-dev
    - libjpeg-dev
    - libpng-dev
    - libfreetype6
    - libfreetype6-dev
    - zlib1g-dev
    - python-lxml
    - libxml2-dev
    - libxslt1-dev
    - tidy